/* Test Site Styles */

/* Universal */

html, body {
    margin: 0;
    padding: 0;
  }  

.container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.content {
    max-width: 1000px;
    margin: auto;
}

h1 {
    font-size: 48px;
    font-weight: extra-bold;
}

/* Header & Hero */

.top-container, .footer {
    background-color: #1F2937;
    color: white;
    padding: 16px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header ul {
    list-style-type: none;
    display: flex;
    gap: 8px;
}

.hero {
    display: flex;
    justify-content: space-between;
}

.hero-image {
    width: 400px;
    height: auto;
}

.hero-text {
    font-size: 18px;
    margin-top: 0;
 }

.hero h1 {
    margin-bottom: 0;
}

/* Info Section */

.info {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    /* border: solid 1px blue; */
    align-items: center;
    padding: 50px 0;
}

.info-boxes {
    max-width: 900px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    /* border: solid 1px red; */
}

.box {
    width: 225px;
    /* border: solid 1px green; */
}

.info h2 {
    text-align: center;
}

.box-img {
    max-width: 200px;
    height: auto;
    border: solid 2px green;
    border-radius: 5px;
}

/* Quote Section */

.quote {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    padding: 50px 25px; 
}

.quote-box {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    flex: 1;
    
}

.quote-text {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
}

.quote-author {
    text-align: right;
}

/* Modal Section */

.bottom {
    display: flex;
    justify-content: center;
    padding: 24px 100px;
    color: white;
}

.modal {
    display: flex;
    justify-content: space-between;
    width: 900px;
    min-width: 400px;
    background-color: #3882f6;
    border-radius: 10px;
}

.modal div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 100px;
}

.modal button {
    border: solid 1px white;
    border-radius: 5px;
}

/* Footer */

.footer {
    text-align: center;
    margin-bottom: 0;
}

/* Buttons */

button {
    background-color: #3882f6;
    padding: 8px 16px;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: bold;
}

/* * {
    border: solid 1px red;
} */